<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <connectionStrings>
    <add name="BrinkApiDataConnectionString" connectionString="data source=skysql03;initial catalog=BrinkApiData;persist security info=True;UID=SqlUser_BrinkApiData;PWD=f?Hm}kBGV)nb;MultipleActiveResultSets=True;App=EntityFramework" />
    <add name="REDConnectionString" connectionString="Data Source=cke-enterprise-sql-server.database.windows.net;Initial Catalog=Enterprise-RED;Persist Security Info=True;User ID=redread;Password=fF8Nnava"
      providerName="System.Data.SqlClient" />
    <add name="DataAnalysisConnectionString" connectionString="Data Source=localhost;Initial Catalog=DataAnalysis;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ElavonProcessingConnectionString" connectionString="Data Source=skydevsql03;Initial Catalog=ElavonProcessing;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="INFO2000ConnectionString" connectionString="Data Source=skysql04;Initial Catalog=INFO2000;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="INFO2000ConnectionStringDev" connectionString="Data Source=skydevsql05;Initial Catalog=INFO2000;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="IMSConnectionString" connectionString="Data Source=localhost\sql2012;Initial Catalog=IMSCKE;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="IRISConnectionString" connectionString="Data Source=localhost;Initial Catalog=IRIS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="HFSDBConnectionString" connectionString="Data Source=localhost;Initial Catalog=HFSDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="RecipesConnectionString" connectionString="Data Source=skysql05;Initial Catalog=Recipes;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="RecipesDevConnectionString" connectionString="Data Source=skydevsql05;Initial Catalog=Recipes;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TransactionDataConnectionString" connectionString="Data Source=localhost;Initial Catalog=TimeCardAnalysis;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="RsunitsConnectionString" connectionString="Data Source=skysql03;Initial Catalog=Rsunits;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="OdsPosEntitiesDevConnectionString" connectionString="Data Source=azr-prod-cke-sqlserver.database.windows.net;Initial Catalog=ODS-POSIntegration;Persist Security Info=True;User ID=DataLoadUser;Password=3u^tA:LL.E9P"
      providerName="System.Data.SqlClient" />
    <add name="OdsPosEntitiesDevConnectionStringMinky" connectionString="Data source=dev-cke-sqlserver.database.windows.net;initial catalog=ODS-POSIntegration;persist security info=True;user id=DataLoadUser;password=3u^tA:LL.E9W;"
      providerName="System.Data.EntityClient" />
    <add name="OdsPosEntitiesDevConnectionStringBar" connectionString="Data source=localhost;initial catalog=ODS-POSIntegration;persist security info=True;Integrated Security=True"
      providerName="System.Data.EntityClient" />
    <add name="OdsTestConnectionString" connectionString="Data Source=cmasdevsqldb01.ibmckrcorp.com;Initial Catalog=ODS-POSIntegration;Persist Security Info=True;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.DataAnalysisConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=DataAnalysis;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.DataAnalysisConnectionString1"
      connectionString="Data Source=localhost\MSSQLSERVER2012;Initial Catalog=DataAnalysis;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.DataAnalysisConnectionString2"
      connectionString="Data Source=localhost\mssqlserver2012;Initial Catalog=DataAnalysis;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.DataValidationConnectionString"
      connectionString="Data Source=24SFFX1-7010\MSSQLSERVER2012;Initial Catalog=DataValidation;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.INFO2000ConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=INFO2000;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.HFSDBConnectionString"
      connectionString="Data Source=localhost\mssqlserver2012;Initial Catalog=HFSDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.DataAnalysisConnectionString3"
      connectionString="Data Source=localhost\SQL2012;Initial Catalog=DataAnalysis;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.INFO2000ConnectionString1"
      connectionString="Data Source=localhost;Initial Catalog=INFO2000;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.GiftCardProdConnectionString"
      connectionString="Data Source=localhost\sql2012;Initial Catalog=GiftCardProd;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.TransHistConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=TimeFileAnalysis;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.DataAnalysisConnectionString4"
      connectionString="Data Source=localhost\sql2012;Initial Catalog=DataAnalysis;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.HardeesRecipesConnectionString"
      connectionString="Data Source=localhost\sql2012;Initial Catalog=HardeesRecipes;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.TimeFileAnalysisConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=TimeCardAnalysis;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.CkeTimePollDataConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=CkeTimePollData;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.HFSDBConnectionString1"
      connectionString="Data Source=localhost;Initial Catalog=HFSDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.INFO2000_testConnectionString"
      connectionString="Data Source=ANADEVSQL05;Initial Catalog=INFO2000_test;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.PollFileConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=PollFile;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.ConfiguratorConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=Configurator;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.RecipesConnectionString"
      connectionString="Data Source=anadevsql05;Initial Catalog=Recipes;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.TransactionAnalysisConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=TransactionAnalysis;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.INFO2000ConnectionString2"
      connectionString="Data Source=anadevsql05;Initial Catalog=INFO2000;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.RecipesConnectionString1"
      connectionString="Data Source=localhost;Initial Catalog=Recipes;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.RsunitsConnectionString"
      connectionString="Data Source=ANASQLDB01;Initial Catalog=Rsunits;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="RBIConnectionString" connectionString="Data Source=ANASQLDB01\CPR;Initial Catalog=RBI;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="RedStorageConnectionString" connectionString="Data Source=cmasdevsqldb01.ibmckrcorp.com;Initial Catalog=ODS-POSIntegration;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.RedStorageConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=RedStorage;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.CkeFileProcessingConnectionString"
      connectionString="Data Source=anadevsql05;Initial Catalog=CkeFileProcessing;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.RBIConnectionString"
      connectionString="Data Source=anasqldb01\cpr;Initial Catalog=RBI;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.RedStorageConnectionString1"
      connectionString="Data Source=ANADEVSQLDB01;Initial Catalog=RedStorage;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.CkePollFileDataConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=CkePollFileData;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.INFO2000ConnectionString3"
      connectionString="Data Source=anasql05;Initial Catalog=INFO2000;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.Enterprise_REDConnectionString"
      connectionString="Data Source=cke-enterprise-sql-server.database.windows.net;Initial Catalog=Enterprise-RED;Persist Security Info=True;User ID=redread;Password=fF8Nnava"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.RED_AnalysisConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=RED_Analysis;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.TimeCardAnalysisConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=TimeCardAnalysis;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.ESDMConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=ESDM;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.RedStorageConnectionString2"
      connectionString="Data Source=LOCALHOST;Initial Catalog=RedStorage;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.RsunitsConnectionString1"
      connectionString="Data Source=localhost;Initial Catalog=Rsunits;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.ODS_PosIntegrationConnectionStringFoo"
      connectionString="Data Source=cmasdevsqldb01.ibmckrcorp.com;Initial Catalog=ODS-PosIntegration;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.ODS_PosIntegrationConnectionString"
      connectionString="Data Source=skysql03;Initial Catalog=ODS-PosIntegration;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.RsunitsConnectionString2"
      connectionString="Data Source=cmasdevsqldb01.ibmckrcorp.com;Initial Catalog=Rsunits;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.RsunitsConnectionString3"
      connectionString="Data Source=skysql03;Initial Catalog=Rsunits;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.RedStorageConnectionString3"
      connectionString="Data Source=skysql03;Initial Catalog=RedStorage;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ElavonProcessingEntitiesDev" connectionString="metadata=res://*/Elavon.csdl|res://*/Elavon.ssdl|res://*/Elavon.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=skydevsql03;initial catalog=ElavonProcessing;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ElavonProcessingEntities" connectionString="metadata=res://*/Elavon.csdl|res://*/Elavon.ssdl|res://*/Elavon.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=ElavonProcessing;integrated security=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ElavonProcessingEntities1" connectionString="metadata=res://*/ElavonTest.csdl|res://*/ElavonTest.ssdl|res://*/ElavonTest.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=ElavonProcessing;integrated security=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="TestOMatic2012.Properties.Settings.INFO2000ConnectionString4"
      connectionString="Data Source=skysql05;Initial Catalog=INFO2000;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="CrunchTimeCloudConnectionString" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(Host=cke-db1.net-chef.com)(Port=1521)))(CONNECT_DATA=(SERVICE_NAME=CKE_APP)));User Id=ctro;Password = Viyu0obrA;" />
    <add name="TestOMatic2012.Properties.Settings.RecipesConnectionString2"
      connectionString="Data Source=skysql05;Initial Catalog=Recipes;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="BrinkApiDataEntities" connectionString="metadata=res://*/BrinkApi.csdl|res://*/BrinkApi.ssdl|res://*/BrinkApi.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=BrinkApiData;persist security info=True;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="BrinkApiDataEntitiesDev" connectionString="metadata=res://*/BrinkApi.csdl|res://*/BrinkApi.ssdl|res://*/BrinkApi.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=skydevsql03;initial catalog=BrinkApiData;persist security info=True;user id=SqlUser_BrinkApiData;password=f?Hm}kBGV)nb;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="BrinkApiDataEntitiesProd" connectionString="metadata=res://*/BrinkApi.csdl|res://*/BrinkApi.ssdl|res://*/BrinkApi.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=skysql03;initial catalog=BrinkApiData;persist security info=True;user id=SqlUser_BrinkApiData;password=f?Hm}kBGV)nb;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="TestOMatic2012.Properties.Settings.INFO2000ConnectionString5"
      connectionString="Data Source=skydevsql05;Initial Catalog=INFO2000;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TestOMatic2012.Properties.Settings.INFO2000ConnectionString6"
      connectionString="Data Source=skydevsql04;Initial Catalog=INFO2000;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="OloPayConnectionString"
      connectionString="data source=localhost;initial catalog=OloPay;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="OloPayEntities" connectionString="metadata=res://*/OloPayEntities.csdl|res://*/OloPayEntities.ssdl|res://*/OloPayEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=skysql04;initial catalog=OloPay;user id=OloPayUser;password='dkA-VQ4%f=3b#>mTn+`,;!';MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OloPayEntitiesDev" connectionString="metadata=res://*/OloPayEntities.csdl|res://*/OloPayEntities.ssdl|res://*/OloPayEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=skydevsql04;initial catalog=OloPay;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SnowflakeTestingEntitiesBad" connectionString="metadata=res://*/SnowflakeTestingEntities.csdl|res://*/SnowflakeTestingEntities.ssdl|res://*/SnowflakeTestingEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=SnowflakeTesting;Integrated Security=true;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SnowflakeTestingEntities" connectionString="metadata=res://*/SnowflakeTesting.csdl|res://*/SnowflakeTesting.ssdl|res://*/SnowflakeTesting.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=SnowflakeTesting;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"  providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="CarlsEmployeeFilePath" value="C:\NovaTimeTest\c_cke_empl_vw.txt" />
    <add key="CjrDirectory" value="C:\APT\ZipArchive\TLogs" />
    <add key="CjrDirectoryFred" value="\\ckecldfnp02\CJRCO_RO" />
    <add key="CkeNodeDirectory" value="D:\\XpientFinFiles" />
    <add key="CkeNodeDirectoryProd" value="\\xdata1\cmsos2\ckenode" />
    <add key="EcfDestDirectory" value="\\anarws01\ecf" />
    <add key="EcfFileName" value="MarkBacon.ecf" />
    <add key="EcfSourceDirectory" value="\\anarws01\ecfcke" />

    <add key="EmailServerOld" value="mail.ckr.com" />
    <add key="EmailServer" value="smtp.office365.com" />
    <add key="EmailUserName" value="RestaurantSystems@ckerests.onmicrosoft.com" />
    <add key="EmailPassword" value="679m$12e8?+@Nm[M" />
    <add key="EmailPort" value="25" />

    <add key="HardeesEmployeeFilePath" value="C:\NovaTimeTest\c_hfs_empl_vw.txt" />
    <add key="HfsDirectory" value="\\ckecldfnp02\HFSCO_RO" />
    <add key="LocalLaborHfsDirectory" value="D:\RBI_x" />
    <add key="OutboxFileNamePrefix" value="DMAInvoice_" />
    <add key="RbiDataDirectory" value="C:\RBI" />
    <add key="SmartReportsZipFileName" value="SmartRpts.zip" />
    <add key="StoreArchiveDirectory" value="D:\remoteware\StoreArchive" />
    <add key="WeeklyLaborSummaryFileNamePrefix" value="weeklyLaborSummary" />
    <add key="WeeklyLaborSummaryByDayFileNamePrefix" value="weeklyLaborSummaryByDay" />
    <add key="WeeklyRingOutLaborSummaryFileNamePrefix" value="weeklyRingOutLaborSummary" />
    <add key="Win7UnitListFilePath" value="\\xdata1\Remoteware\XLNETGroups\win7.lst" />
    <add key="FileCreationLogFileName" value="FileCreation.Log.xml" />
    <add key="DefaultTimerIntervalHours" value="1" />
    <add key="FileGeneratorFilePath" value="C:\Backoffice\CKE\NextGenFileGenerator\NextGenFileGenerator.exe" />
    <add key="WeeklyTimeFileCommandLineArguments" value="/ReportType=WeeklyTimeFiles /BusinessDate=!BUSINESS_DATE" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <client>
      <endpoint address="https://api12.brinkpos.net/Settings2.svc" binding="basicHttpsBinding" contract="ISettingsWebService2" name="BasicHttpBinding_ISettingsWebService2_Loves" />
    </client>
  </system.serviceModel>
</configuration>
