<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataAnalysisConnectionString" connectionString="Data Source=24SFFX1-7010\SQL2012;Initial Catalog=DataAnalysis;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="INFO2000ConnectionStringProd" connectionString="Data Source=anasql05;Initial Catalog=INFO2000;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="INFO2000ConnectionString" connectionString="Data Source=localhost\sql2012;Initial Catalog=INFO2000;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="IMSConnectionString" connectionString="Data Source=localhost\sql2012;Initial Catalog=IMSCKE;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="IRISConnectionString" connectionString="Data Source=localhost;Initial Catalog=IRIS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TestOMatic2012.Properties.Settings.DataAnalysisConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=DataAnalysis;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TestOMatic2012.Properties.Settings.DataAnalysisConnectionString1"
            connectionString="Data Source=localhost\MSSQLSERVER2012;Initial Catalog=DataAnalysis;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TestOMatic2012.Properties.Settings.DataAnalysisConnectionString2"
            connectionString="Data Source=localhost\mssqlserver2012;Initial Catalog=DataAnalysis;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TestOMatic2012.Properties.Settings.DataValidationConnectionString"
            connectionString="Data Source=24SFFX1-7010\MSSQLSERVER2012;Initial Catalog=DataValidation;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TestOMatic2012.Properties.Settings.INFO2000ConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=INFO2000;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TestOMatic2012.Properties.Settings.HFSDBConnectionString"
            connectionString="Data Source=localhost\mssqlserver2012;Initial Catalog=HFSDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TestOMatic2012.Properties.Settings.DataAnalysisConnectionString3"
            connectionString="Data Source=localhost\SQL2012;Initial Catalog=DataAnalysis;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TestOMatic2012.Properties.Settings.INFO2000ConnectionString1"
            connectionString="Data Source=localhost\sql2012;Initial Catalog=INFO2000;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TestOMatic2012.Properties.Settings.GiftCardProdConnectionString"
            connectionString="Data Source=localhost\sql2012;Initial Catalog=GiftCardProd;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TestOMatic2012.Properties.Settings.TransHistConnectionString"
            connectionString="Data Source=localhost\SQL2012;Initial Catalog=TransHist;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TestOMatic2012.Properties.Settings.DataAnalysisConnectionString4"
            connectionString="Data Source=localhost\sql2012;Initial Catalog=DataAnalysis;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TestOMatic2012.Properties.Settings.HardeesRecipesConnectionString"
            connectionString="Data Source=localhost\sql2012;Initial Catalog=HardeesRecipes;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
	<appSettings>
		<add key="CjrDirectory" value="\\ckeanafnp01\CJRCO_RO"/>
		<add key="HfsDirectory"/>
		<add key="LocalLaborHfsDirectory" value="D:\RBI_x"/>
		<add key="SmartReportsZipFileName" value="SmartRpts.zip"/>
		<add key="StoreArchiveDirectory" value="D:\remoteware\StoreArchive"/>
		<add key="WeeklyLaborSummaryFileNamePrefix" value="weeklyLaborSummary"/>
		<add key="WeeklyLaborSummaryByDayFileNamePrefix" value="weeklyLaborSummaryByDay"/>
		<add key="Win7UnitListFilePath" value="\\xdata1\Remoteware\XLNETGroups\win7.lst"/>
	</appSettings>

</configuration>
